<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="・・・">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <title><%= @course.name%>のレビュー</title>
    <script src="https://kit.fontawesome.com/701f54efca.js" crossorigin="anonymous"></script>
</header>

<body>
    <div class="title">
        <div name="title-container">
            Review Courses
            <br>
            <span name="subtitle">
                <%= @course.name%>のレビュー
            </span>
        </div>
    </div>
    <%= form_tag("/review_courses/#{params[:course_id]}/create") do %>
        <div class="main-container">
            <div class="form-container">
            <% @review.errors.full_messages.each do |message| %>
                <div class="error-message">
                    <%= message %>
                </div>
            <% end %>
                <div class="form-content" name="username">
                    <label for="username">お名前</label>
                    <input type="text" id="username" name="user_name" placeholder="&#xf007; 入力例：早稲田花子" style="padding: 10px;" style="padding: 10px;" value=<%= @review.user_name %>>
                </div>
                <div class="form-content" name="difficulty">
                    <label for="difficulty">授業の難しさ</label>
                    <div class="radio">
                        <input type="radio"  value="5" id="q1-5" name="difficulity">
                        <label for="q1-5">5</label>
                        <input type="radio"  value="4" id="q1-4" name="difficulity">
                        <label for="q1-4">4</label>
                        <input type="radio"  value="3" id="q1-3" name="difficulity">
                        <label for="q1-3">3</label>
                        <input type="radio"  value="2" id="q1-2" name="difficulity">
                        <label for="q1-2">2</label>
                        <input type="radio"  value="1" id="q1-1" name="difficulity">
                        <label for="q1-1">1</label>
                    </div>
                </div>
                <div class="form-content" name="fun">
                    <label for="fun">授業の面白さ</label>
                    <div class="radio">
                        <input type="radio"  value="5" id="q2-5" name="fun">
                        <label for="q2-5">5</label>
                        <input type="radio"  value="4" id="q2-4" name="fun">
                        <label for="q2-4">4</label>
                        <input type="radio"  value="3" id="q2-3" name="fun">
                        <label for="q2-3">3</label>
                        <input type="radio"  value="2" id="q2-2" name="fun">
                        <label for="q2-2">2</label>
                        <input type="radio"  value="1" id="q2-1" name="fun">
                        <label for="q2-1">1</label>
                    </div>
                </div>
                <div class="form-content" name="grade">
                    <label for="grade">成績</label>
                    <div class="radio">
                        <input type="radio"  value="5" id="q3-4" name="grade">
                        <label for="q3-4">A+</label>
                        <input type="radio"  value="4" id="q3-3" name="grade">
                        <label for="q3-3">A</label>
                        <input type="radio"  value="3" id="q3-2" name="grade">
                        <label for="q3-2">B</label>
                        <input type="radio"  value="2" id="q3-1" name="grade">
                        <label for="q3-1">C</label>
                    </div>
                </div>
                <div class="form-content" name="attendance">
                    <label for="attendance">出席の必要性</label>
                    <div class="radio">
                        <input type="radio"  value="必要" id="q4-1" name="attendance">
                        <label for="q4-1">必要</label>
                        <input type="radio"  value="不要" id="q4-2" name="attendance">
                        <label for="q4-2">不要</label>
                    </div>
                </div>
                <div class="form-content" name="free-review">
                    <label for="free-review">フリーレビュー</label>
                    <textarea name="free_review" id="free-review" cols="30" rows="10" placeholder="ここに自由にレビューを書き込んでください。"><%= @review.free_review %></textarea>
                </div>
                <div class="form-content" name="button">
                    <input name="submit-button" type="submit" value="&#xf1d8; 送信" >
                </div>        
            </div>
        </div>
    <% end %>
</body>